<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary">
  <br>

  <div id="container"  style=" margin-left: 10%;margin-right: 10%">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Clean Vote</ion-card-title>
        <ion-item>
          <ion-button type="submit" color="dark" (click)="abrirGmailAuth()">Iniciar Sesion con Gmail</ion-button>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <br><br>

  </div>
</ion-content>
