<ion-header>
  <ion-toolbar>
    <ion-title>Constancia de Voto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card *ngIf="voto != null" class="card-establecimiento">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-badge color="warning" mode="ios">
            Bloque {{voto.blockNumber}}
          </ion-badge>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-left">

        <ion-card-title>Candidato:</ion-card-title>
          <ion-button>{{voto.value}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size="12" class="ion-text-right">
      <a target="_blank" href="https://testnet.bscscan.com/tx/{{hash}}">Link a etherscan</a><br>

          <ion-card-subtitle>transactionHash: {{hash}}
          <br>
          from: {{voto.from}}
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
